# dependencies
**/node_modules/

# Next.js
**/.next/
**/out/

# builds
**/dist/
**/build/

# environment
**/.env
**/.env.*
!**/.env.example

# logs
*.log

# TypeScript
**/*.tsbuildinfo

# misc
.DS_Store
*.pem

# Vercel
**/.vercel/